<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 11-12</title>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/shablon.js"></script>
    <link rel="stylesheet" href="css/cssRESET.css">
    <link rel="stylesheet" href="css/HW1.css">
<body>
<script type="text/tmpl" id="cv">
    <div class="container">
        <p class="header"><%= title %></p>
        <div class="photo"></div>
        <p class="student"><%= student %></p>
        <div class="line1"></div>
        <h2 class="wishes"><%= wishes %></h2>
        <ul class="list">
            <li><%= wishesList1 %></li>
            <li><%= wishesList2 %></li>
            <li><%= wishesList3 %></li>
        </ul>
        <div class="line2" ></div>
        <h2 class="cont_fb"><%= contFb %></h2>
        <p class="number"><%= number %></p>
        <h2 class="vk"><%= vk %></h2>
        <p class="link">
            <a href="https://new.vk.com/id21419375"  target="_blank">vk.com</a>
        </p>
        <div class="line1"></div>
        <h2 class="cont_fb1"><%= contFb1 %></h2>
        <p class="fb"><%= fb %></p>
   </div>
</script>
</body>
</html>
</body>
</html>